<!DOCTYPE html>
<html ng-App="dueloDeLeyendasApp">
<head>
	<link rel="stylesheet" href="style/css/bootstrap.min.css">
	<link rel="stylesheet" href="style/css/custom.css">
	<script src="script/js/jquery-1.11.3.min.js"></script>	
	<script src="script/js/bootstrap.min.js"></script>
	<script src="lib/angular.min.js"></script>
	<script src="script/js/dueloDeLeyendasApp.js"></script>
	<script src="script/js/dueloDeLeyendasController.js"></script>
	<script src="script/js/dueloDeLeyendasService.js"></script>
	<link href="style/css/hover-min.css" rel="stylesheet" media="all">
	<title>Duelo de Leyendas</title>
	<style>
		body {
			background-color: #CCC;
			background-image: url(resources/background.png);
			background-repeat: repeat;
		}
	</style>
</head>
<body class="margen10 container-fluid" ng-controller="DueloDeLeyendasCtrl">
<header class="headerStyle">Selecciona tu personaje para el duelo!</header>
<br>
<div class="row-eq-height">
	<div class="col-md-4 scrollableColumn">
   <!--Listado personajes-->
		<div class="row-fluid margen5">
		<!--Seleccion de personaje-->
		  <div class="col-md-6 img-responsive paddingButton text-center" ng-repeat="pj in pjs">
		  	<button class="noPaddNoBorde img-rounded hvr-shrink" ng-click="refreshPj(pj)">
		  		<img ng-src="{{pj.dir}}" class="img-rounded">
		  	</button>
		  </div>
		</div>
	</div>
	<div class="col-md-4">
		<!--Personaje seleccionado Center-->
	  	<p class="headerStyle">{{pjSeleccionado.nombre}}</p>
	  	<img ng-src="{{pjSeleccionado.fulldir}}" class="img-responsive" style="height: 350px; width: 450px" >
	</div>

	<div class="col-md-4 scrollableColumn">
		<!-- Caracteristicas personaje seleccionado -->
		<p class="letraVerde">Especialidades:</p>
  		<div class="caracteristica" ng-repeat="especialidad in pjSeleccionado.especialidades">
  			<p>{{especialidad}}</p>
		</div>
		<p class="letraVerde">Debilidad:</p>
  		<div class="caracteristica" ng-repeat="debilidad in pjSeleccionado.debilidades">
  			<p>{{debilidad}}</p>
		</div>
		<p class="letraVerde">Mejor Posicion:</p>
  		<div class="caracteristica">
  			<p>{{pjSeleccionado.posicionIdeal}}</p>
		</div>
		<!--Jugar -->
		<p class="letraAzulTamanio25Centrada">Jugar!</p>
		<div class="btn-group-vertical btn-block" role="group" ng-repeat="posicion in posicionesPosibles">
			<button type="button" class="btn btn-default" ng-click="jugar(posicion)">{{posicion}}</button>
		</div>
		<!-- Declaracion de ventana Modal -->
		<div class="modal fade" id="dueloModal" role="dialog">
		   	<div class="modal-dialog modal-lg">
		   	   <!-- Contenido de ventana Modal-->
				<div class="modal-content">
			   		<div ng-show="!noRival">
			   			<div ng-include="'modalResultado.html'"></div>
			   		</div>
			   		<div ng-show="noRival">
			   			<div ng-include="'modalNoRival.html'"></div>
			   		</div>
		   		</div>
			</div>
		</div>
		<hr>
		<!--Stats personaje seleccionado-->
		<p class="letraAzulTamanio25Centrada">Stats!</p>
	  	<div class="row" ng-repeat="estadistica in estadisticaPjActual">
			<div class="col-md-6 letraVerde letraChica">{{estadistica.nombre}}</div>
			<div class="col-md-6">{{estadistica.valor}}</div>
		</div>
		<hr>
	</div>
</div>
</body>
</html>