<!-- Contenido de ventana Modal-->
<div class="modal-header">
	<!-- <button type="button" class="close" data-dismiss="modal">&times;</button> -->
	<h4 class="modal-title text-center headerStyle">Resultado</h4>
</div>
<div class="modal-body margen5">
	<div class="row row-eq-height">
		<!-- Columna stats -->
	<div class="col-md-6">
    	<div class="col-md-5 col-sm-12 headerStyle"><p >{{resultadPartida.nombrePjRetador}}</p></div>
    	<div class="col-md-2 col-sm-12 headerStyle"><p >vs</p></div>
    	<div class="col-md-5 col-sm-12 headerStyle"><p >{{resultadoPartida.nombrePjRetado}}</p></div>
    	<div class="col-md-6 headerStyle"><img ng-src="resources/{{resultadoPartida.nombrePjRetador}}full.png"></div>
    	<div class="col-md-6 headerStyle"><img ng-src="resources/{{resultadoPartida.nombrePjRetado}}full.png"></div>
    	<!--Stats-->
	  	<div class="row" ng-repeat="estadistica in resultadoPartida.estadisticaRetador">
			<div class="col-md-6">{{estadistica.nombre}}</div>
			<div class="col-md-6">{{estadistica.valor}}</div>
		</div>
	  	<div class="row" ng-repeat="estadistica in resultadoPartida.estadisticaRetado">
			<div class="col-md-6">{{estadistica.nombre}}</div>
			<div class="col-md-6">{{estadistica.valor}}</div>
		</div>
	</div>
	<!-- Columna resultado Victoria -->
	<div class="col-md-6 fondoVictoria" ng-show="resultadPartida.ganador">
		<div class="bloqueCentrado">
			<P class="letraVerdeOscuro">GANASTE</P>
			<P class="letraNegraTamanioGrande">{{resultadPartida.ataqueRetador}} A {{resultadoPartida.ataqueRetado}}</P>
			<P class="letraNegraTamanioGrande">En Hora Buena</P>				            	
		</div>
	</div>
    <!-- Columna resultado Derrota -->
    <div class="col-md-6 fondoDerrota" ng-show="resultadoPartida.perdedor">
        <div class="bloqueCentrado">
        	<P class="letraRoja">PERDISTE!</P>
        	<P class="letraNegraTamanioGrande">{{resultadPartida.ataqueRetador}} A {{resultadoPartida.ataqueRetado}}</P>
			<P class="letraNegraTamanioGrande">Honores al ganador:{{nombreJugadorRetado}}</P>
		</div>
	</div>
 </div>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-default btn-block" data-dismiss="modal" style="background: black; color: white; text-align: center">
		<div ng-show="resultadoPartida.ganador">
			Celebrar victoria
		</div>
		<div ng-show="resultadoPartida.perdedor">
			Perdi :(
		</div>
	</button>
</div>